body,div,input{
  margin: 0;
  padding: 0;
}

body{
  background: #f8f8f8;
  background : url(image/background.jpg);
}

#main-wrap{
  overflow: hidden;
}
#second-wrap{
  /*width: 1200px;*/
  overflow: hidden;
}

#content{
  margin: 0 auto;
  padding: 10px 0px;
  position: absolute;
  z-index: 99;
  width: 370px;
  height: 180px;
  /*background: linear-gradient(to top,#d5d5d5 0%,#e3e3e3 25%,#e3e3e3 50%,#e3e3e3 75%,#d5d5d5 100%);*/
  background: #fefefe;
  box-shadow: 0px 0px 4px #b7b7b7;
  overflow: hidden;
}
#content-main{
  margin-top: 19px;
  overflow: hidden;
  padding: 10px 10px;
}
#content-title{
  margin: 0 auto;
  padding: 5px 0px;
  width: 200px;
  text-align: center;
  font-family: euphemia;
  color: #7c7c7c;
  font-size: 25px;
  background: #3a3939;
  color: #f4f3f3;
}
#content-seperate{
  margin: 10px 10px;
  height: 5px;
}

#content-search{
  border: 1px solid #b6b5b5;
  overflow: hidden;
  width: 330px;
  margin: 0 auto;
  border-radius: 6px;
  transition: 0.1s box-shadow;
}
#search-key{
  width: 280px;
  height: 35px;
  float: left;
  font-size: 17px;
  padding: 0px 5px;
  font-family: sans-serif;
  border: none;
}
#search-button{
  border: none;
  width: 40px;
  height: 35px;
  float: left;
  color: #f6f6f6;
  font-family: segoe ui;
  font-size: 16px;
  background: linear-gradient(to top,#07408e 0%, #0b53b5 44%,#4283db 100%);
}

#content-result{
  /*height: 400px;*/
  width: 500px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.7);
  font-family: euphemia;
  overflow: hidden;
  display: none;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  position: relative;
  left : 0px;
}
#content-result-main{
  /*background: rgba(255, 255, 255, 0.5);*/
}
#content-result-title{
  text-align: center;
  font-size: 40px;
  font-family: euphemia;
  margin: 10px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
#content-result-data{
  margin: 20px 20px;
}

#content-result-detail{
  display: none;
  position: absolute;
  z-index: 1;
  width: 630px;
  right: 0px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.7);
}
#content-result-detail-data{
  margin: 10px 10px;
  padding-left: 40px;
  border-left: 3px solid rgba(238,238,238,0.5);
  font-family: euphemia;
}
